<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Data Analyzer - CSV Report Generator</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="static\assets\img\favicon.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static\assets\vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet">
  <link href="static\assets\vendor\bootstrap-icons\bootstrap-icons.css" rel="stylesheet">
  <link href="static\assets\vendor\aos\aos.css" rel="stylesheet">
  <link href="static\assets\vendor\glightbox\css\glightbox.min.css" rel="stylesheet">
  <link href="static\assets\vendor\swiper\swiper-bundle.min.css" rel="stylesheet">
  <link href="static\assets\vendor\remixicon\remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static\assets\css\main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Nova
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nova-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="page-about">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="d-flex align-items-center">Data Analyzer</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about" class="active">About</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/assets/img/about-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>About</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>About</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-lg-4">
            <img src="static\assets\img\about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8">
            <div class="content ps-lg-5">
              <h3>About the project</h3>
              <p>
                Welcome to the Data Analyzer project, your go-to solution for effortlessly transforming raw CSV data into comprehensive, visually appealing reports. In an era where data is king, our tool empowers users to unlock the true potential of their data with ease and efficiency.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i>Streamlined Data Analysis: Say goodbye to tedious manual data analysis. Our CSV Report Generator simplifies the process, enabling you to quickly gain insights from your data.</li>
                <li><i class="bi bi-check-circle-fill"></i> User-Friendly Interface: We understand the importance of user experience. Our intuitive interface ensures that even users with minimal technical expertise can harness the power of data analysis.</li>
                <li><i class="bi bi-check-circle-fill"></i>Customizable Reports: Tailor reports to meet your specific needs. Whether you need charts, graphs, or tables, our tool provides a wide range of customization options to suit your preferences.</li>
                <li><i class="bi bi-check-circle-fill"></i>Data Visualization: Transform your data into compelling visual representations. Our project offers various visualization styles that make it easier to understand and present your findings.</li>
                <li><i class="bi bi-check-circle-fill"></i>Efficient Workflow: Save time and effort with our streamlined workflow. Simply upload your CSV file, and let our tool do the rest. Within minutes, you'll have a professionally formatted report.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Choose Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Who can benefit</h2>

        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-5 img-bg" style="background-image: url('static/assets/img/why-us-bg.jpg')"></div>
          <div class="col-xl-7 slides  position-relative">

            <div class="slides-1 swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Business Professionals</h3>
                    <h4 class="mb-3">Make data-driven decisions with ease and present your findings effectively to stakeholders.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Students and Educators</h3>
                    <h4 class="mb-3">Enhance your research and academic projects with insightful data analysis and visualizations.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Data Enthusiasts</h3>
                    <h4 class="mb-3">Dive into data exploration without the need for complex software or coding skills.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Anyone Handling Data</h3>
                    <h4 class="mb-3">Whether you're managing personal finances, tracking workout progress, or analyzing market trends, our tool simplifies the process for you.</h4>
                  </div>
                </div><!-- End slide item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>
    </section><!-- End Why Choose Us Section -->

  

  </main><!-- End #main -->

  

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static\assets\vendor\bootstrap\js\bootstrap.bundle.min.js"></script>
  <script src="static\assets\vendor\aos\aos.js"></script>
  <script src="static\assets\vendor\glightbox\js\glightbox.min.js"></script>
  <script src="static\assets\vendor\swiper\swiper-bundle.min.js"></script>
  <script src="static\assets\vendor\isotope-layout\isotope.pkgd.min.js"></script>
  <script src="static\assets\vendor\php-email-form\validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static\assets\js\main.js"></script>

</body>

</html>